*{outline:1px solid red;}
.header
{
	padding: 20px 20px 0px 20px;
}

.encabezado	
{
background-image: url(../img/background/hero.jpg);
background-size: cover;
width: 100%;
height: 680px;
}


.encabezado h3
{
/*float-right:-350px;*/
right: 250px;
color: white;
padding:8px 15px 15px 20px;
position:relative;
text-align: center;
position: 120px;
}

.encabezado a
{
padding-top: -152px;
margin-left:-750px; 

}
.lista 
{
text-decoration: none;
margin-top: 35px;

	
}
.lista li
{
display: inline-block;
}

.lista a
{
text-decoration: none;
margin-right: 10px;
color: white;
padding: 9px;
}


.container
{
	padding:40px 15px 150px 15px;
}

.col-sm-4 span
{
background-color: 
}

#more-features
{
padding: 40px 0px 0px 0px;
background-image:url(../img/lap.png);
width: 100%;
height: 500px;
background-color: #F2F2F2;
}

.feactures
{
	background-color: white;
	text-align: left;
	padding-left: 80px;
	margin-right:1px;
	margin-left :1px;
}



.container-portfolio
{

height: 220px;
width: 100%;
background-color:  #F2F2F2;
z-index: 1px;
}
.container-portfolio
{
text-align: center;
color:black;
padding: 50px 10px 0px 10px ;
}

.container-portfolio a
{
background-color: white;
color:black;
}


.imagenes
{

	background-color:  #F2F2F2; 
	text-align: center;
	padding-top: 20px;
	

text-align: center;

}


.imagenes  img
{
z-index: 2px;
padding:10px 10px 50px 90px;
margin-right: 15px;
padding: 10px;
background-color: white;
}

.lista2 a
{

background-color: #2E2E2E;
color:#F2F2F2;
padding: 10px;
text-decoration: none;

}


.container-package
{
background-image: url(../img/background/city.jpg);
background-size: cover;
width: 100%;
height: 400px;
background-color:#F2F2F2;
padding: 50px 0px 0px 0px  ;

}

.package
{
	text-align: center;
	background-color: #F2F2F2;
}

 .cuadros
{
padding: 10px;
color: white;
background-color: white;

}

.standard
{
	background-color: #424242;
	padding: 10px;
}

.cuadros h4
{

	color: #585858;
	padding: 20px;
	
}

.premiun
{
	background-color: #01DFD7;
	padding: 0px;
}

.ultimate
{
	
	background-color: #424242;
	padding: 0px;
}

.cuadros .row
{
	background-color: white;
}

.package p
{
color:#585858;

}